<div class="inmodal">
  <div class="modal-content">
    <!--<form [formGroup]="form" name="form" >-->
      <div class="modal-header">
        <a class="close-modal p-b-sm" name="closeOpenModal"></a>
        <div class="row">
          <div class="col-lg-10 col-md-10 text-left">
            <!--<h1 class="modal-title">{{heading}}&nbsp;&nbsp;{{context.addVolumeHeader?.incurredCodeService}}</h1>-->
          </div>
        </div>
      </div>
      <div class="modal-body">
      </div>
    <!--</form>-->
  </div>
</div>
