	<header class="cd-main-header">
		<a href="#/" class="cd-logo"><img src="../../../../assets/img/ford_sec_logo.svg" alt="Logo"></a>
		
		<!--<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div> -->
    <!-- cd-search -->
		<app-arrow-ribon ></app-arrow-ribon>
		<a class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
				<li class="has-children account">
					<a class="user-name">
						<span class="user-Default-img-header"></span>
						<!--<img src="../../../../assets/img/loiane.jpg" alt="avatar">-->
						{{userName}}
					</a>

					<ul>

						<li><a>My Account</a></li>
						<li><a>Edit Account</a></li>
						<li><a>Logout</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header> <!-- .cd-main-header -->