.imgBox{
    position: relative;
    margin-top: 200px;  
}
.failure-img{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;    
}
.color-blue{
    color:blue
}
.content-header{
    position:relative;
}